@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~@fortawesome/fontawesome-svg-core/styles.css';
  
.stroke {
        /* Prefix required. Even Firefox only supports the -webkit- prefix */
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: #f8a9d1;

}

@media (max-width: 768px) {

  .nav-logo {
    height: 60px;
  }

  .nav-title {
    font-size: 24px;
  }

  .nav-icons {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  
}